
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Checkout for customers</title>
		<meta name="description" content="Sandwich Ordering Service - Checkout - Customer">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Checkout</h1>
		<div class="dropdown">
			<button class="dropbtn"><i class='fas fa-user-alt' style='font-size:16px'></i> {{this.user}}</button>
			<div class="dropdown-content">
				<a href="/profile">Profile</a>
				<a href="/menu">Menu</a>
				<a href="#">Track order</a>
				<a href="#">Order history</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
		</header>
		{{#each order}}
		<tr>
			<td>{{this.id}}</td>
			<td>£{{this.price}}</td>
			<td>{{this.items}}</td>
		</tr>
		{{/each}}
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		
	</body>
</html>