
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Order</title>
		<meta name="description" content="Sandwich Ordering Service - Order">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Order</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<table>
			<tr><th>ID</th><th>Item</th><th>Price</th><th>Ingredients</th></tr>
			{{#each records}}
			<tr>
				<td>{{this.id}}</td>
				<td>{{this.itemname}}</td>
				<td>{{this.price}}</td>
				<td>{{this.ingredients}}</td>
			</tr>
			{{/each}}
		</table>
		</main>
	</body>
</html>
