
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Specific order details for a user order</title>
		<meta name="description" content="Sandwich Ordering Service - Order Details">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Details for Order No. {{orderdetails.orderNumber}}</h1>
		<div class="dropdown">
			<button class="dropbtn"><i class='fas fa-user-alt' style='font-size:16px'></i> {{this.user}}</button>
			<div class="dropdown-content">
				<a href="/profile">Profile</a>
				<a href="/menu">Menu</a>
				<a href="/checkout">Checkout</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
		</header>
		<main>
			<table id="orders">
				<tr><th>Order Number</th><th>Items</th><th>Total</th><th>Status</th></tr>
					<tr>
						<td>{{orderdetails.orderNumber}}</td>
						<td>{{orderdetails.itemPrices}}</td>
						<td>{{orderdetails.price}}</td>
						<td>{{orderdetails.completed}}</td>
						<td><img src="{{orderdetails.qrcode}}"/></td>
					</tr>
			</table>
		</main>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}

	</body>
</html>