
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Main menu for the company owner</title>
		<meta name="description" content="Sandwich Ordering Service - Main Menu - Owner">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Menu</h1>
		<div class="dropdown">
			<button class="dropbtn"><i class='fas fa-user-alt' style='font-size:16px'></i> {{this.user}}</button>
			<div class="dropdown-content">
				<a href="#">Settings</a>
				<a href="/menu/edit">Edit menu</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<table>
			<tr><th>Photo</th><th>ID</th><th>Item</th><th>Price</th><th>Category</th><th>Ingredients</th></tr>
			{{#each records}}
			<tr>
				<td><img src="photos/{{this.photo}}" /></td>
				<td>{{this.id}}</td>
				<td>{{this.itemname}}</td>
				<td>£{{this.price}}</td>
				<td>{{this.category}}</td>
				<td>{{this.ingredients}}</td>
			</tr>
			{{/each}}
		</table>
		</main>
	</body>
</html>
