
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Order status and history for users</title>
		<meta name="description" content="Sandwich Ordering Service - Checkout - Customer">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body onload='convertStatus()'>
		<header>
		<h1>Orders</h1>
		<div class="dropdown">
			<button class="dropbtn"><i class='fas fa-user-alt' style='font-size:16px'></i> {{this.user}}</button>
			<div class="dropdown-content">
				<a href="/profile">Profile</a>
				<a href="/menu">Menu</a>
				<a href="/checkout">Checkout</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
		</header>
		<div id="owner-orders">
			<table>
				<tbody id='owner-orders'>
					<tr>
					<th>Order Number</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Company</th>
					<th>Address Line 1</th>
					<th>Address Line 2</th>
					<th>City</th>
					<th>Postcode</th>
					<th>Price</th>
					<th>Items</th>
					<th>Status</th>
				</tr>
				{{#each orders}}
				<tr>
					<td>{{this.orderNumber}}</td>
					<td>{{this.firstName}}</td>
					<td>{{this.lastName}}</td>
					<td>{{this.company}}</td>
					<td>{{this.addressLine1}}</td>
					<td>{{this.addressLine2}}</td>
					<td>{{this.city}}</td>
					<td>{{this.postcode}}</td>
					<td>£{{this.price}}</td>
					<td>{{this.itemNames}}</td>
					<td>{{this.completed}}</td>
				</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	</body>
</html>