
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>View / Update Profile</title>
		<meta name="description" content="Sandwich Ordering Service - Profile">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>User Profile</h1>
		<div class="dropdown">
			<button class="dropbtn"><i class='fas fa-user-alt' style='font-size:16px'></i> {{this.user}}</button>
			<div class="dropdown-content">
				<a href="/menu">Menu</a>
				<a href="/checkout">Checkout</a>
				<a href="/orders">Order status + history</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
			<h2>View and update your information</h2>
			{{#each records}}
			<form method="post" action="/profile" enctype="multipart/form-data">
				<p>
					<label for="firstName">First Name</label><br />
					<input type="text" name="firstName" placeholder="e.g John" value="{{this.firstName}}"/>
				</p>
				<p>
					<label for="lastName">Last Name</label><br />
					<input type="text" name="lastName" placeholder="e.g Smith" value="{{this.lastName}}"/>
				</p>
				<p>
					<label for="company">Company</label><br />
					<input type="text" name="company" placeholder="e.g Coventry University" value="{{this.company}}"/>
				</p>
				<p>
					<label for="addressLine1">Address Line 1</label><br />
					<input type="text" name="addressLine1" placeholder="e.g 3 Gulson Rd" value="{{this.addressLine1}}"/>
				</p>
				<p>
					<label for="addressLine2">Address Line 2 (Optional)</label><br />
					<input type="text" name="addressLine2" value="{{this.addressLine2}}"/>
				</p>
				<p>
					<label for="city">City</label><br />
					<input type="text" name="city" placeholder="e.g City" value="{{this.city}}"/>
				</p>
				<p>
					<label for="postcode">Postcode</label><br />
					<input type="text" name="postcode" placeholder="e.g CV1 2JH" value="{{this.postcode}}"/>
				</p>
				<p><input type="submit" value="Update values"></p>
			</form>
			{{/each}}
		</main>
	</body>
</html>
