
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Main menu for customers</title>
		<meta name="description" content="Sandwich Ordering Service - Menu - Customer">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Menu</h1>
		<div class="dropdown">
			<button class="dropbtn"><i class='fas fa-user-alt' style='font-size:16px'></i> {{this.user}}</button>
			<div class="dropdown-content">
				<a href="/profile">Profile</a>
				<a href="#">Order</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<select name="select-categories" id="select-categories" onchange="document.location.href=this.value">
		{{#each categories}}
		<option value="#{{this.category}}">{{this.category}}</option>
		{{/each}}		
		</select>
		<div id="main-wrapper">
			<div id="menu">
			<table>
				<tbody id="Sandwich">
					<th>Sandwiches</th>
					<th></th>
					<th></th>
					<th>Ingredients</th>
					
				</tbody>
				{{#each sandwiches}}
				<tr>
					<td><img src="photos/{{this.photo}}" /></td>
					<td>{{this.itemname}}</td>
					<td>£{{this.price}}</td>
					<td>{{this.ingredients}}</td>
					<td><input id="add-to-order" type="submit" value="Add to order" onclick='addToOrder("{{this.itemname}}", "{{this.price}}")'></td>
				</tr>
				{{/each}}
				<tbody id="Snack">
					<th>Snacks</th>
				</tbody>
				{{#each snacks}}
				<tr>
					<td><img src="photos/{{this.photo}}" /></td>
					<td>{{this.itemname}}</td>
					<td>£{{this.price}}</td>
					<td>{{this.ingredients}}</td>
					<td><input id="add-to-order" type="submit" value="Add to order" onclick='addToOrder("{{this.itemname}}", "{{this.price}}")'></td>
				</tr>
				{{/each}}
				<tbody id="Drink">
					<th>Drinks</th>
				</tbody>
				{{#each drinks}}
				<tr>
					<td><img src="photos/{{this.photo}}" /></td>
					<td>{{this.itemname}}</td>
					<td>£{{this.price}}</td>
					<td>{{this.ingredients}}</td>
					<td><input id="add-to-order" type="submit" value="Add to order" onclick='addToOrder("{{this.itemname}}", "{{this.price}}")'></td>
				</tr>
				{{/each}}
			</table>
		</div>
		<div id="order">
			<h2>Your order</h2>
			<input id="checkout" type="submit" value="Checkout">
			<div id="order-content">
				<ol id="order-list">
				</ol>
			</div>
			
		</div>
	</div>	
	<script>
		var orderContents = []
		function addToOrder(name, price) {
			var order = document.getElementById('order-list')
			order.innerHTML += `<li id="order-item">${name}, ${price}</li>`
			orderContents.push((name, price))
			console.log(orderContents)
		}
		
	</script>
	</body>
</html>