
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Order status and history for users</title>
		<meta name="description" content="Sandwich Ordering Service - Orders - Customer">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Orders</h1>
		<div class="dropdown">
			<button class="dropbtn"><i class='fas fa-user-alt' style='font-size:16px'></i> {{this.user}}</button>
			<div class="dropdown-content">
				<a href="/profile">Profile</a>
				<a href="/menu">Menu</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
		</header>
		<main>
			<table id="orders">
				<tr><th>Order Number</th><th>Price</th><th>Items</th><th>Status</th></tr>
				{{#each order}}
				<tr>
					<td>{{this.orderNumber}}</td>
					<td>£{{this.price}}</td>
					<td>{{this.itemNames}}</td>
					<td>{{this.status}}</td>
					<td>
						<input id="goto" type="submit" value="View details" onclick="location.href='/orders/{{this.id}}'"/>
					</td>
				</tr>
				{{/each}}
			</table>
		</main>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	</body>
</html>